.hero {
  margin-top: 3rem;

  &__image {
    display: block;
    margin: auto;
    position: relative;
    top: 97px;
    width: 885px;
    height: 468px;
    left: 210px;

    @include breakPointDown(large){
      position: static;
      margin: 0 auto;
      margin-top: 3rem;
      width: 100%;
      height: auto;
      max-width: 885px;
    }
  }

  &__cta {
    @include breakPointDown(medium){
      display: flex;
      justify-content: center;
    }
    
    & .button {
      background-color: $purple;
      color:$white;
    }
  }

  &__text {
    text-align: left;
    position: relative;
    top: -467px;

    @include breakPointDown(large){
      position: static;
    }

    h1 {
      margin-bottom: 1.5rem;
      width: 36rem;

      @include breakPointDown(large){
        margin-top: 1rem;
        width: 100%;
      }

      @include breakPointDown(small){
        text-align: center;
      }
    }

    p {
      width: 18rem;
      margin-bottom: 2.25rem;  

      @include breakPointDown(large){
        width: 100%
      }
  
      @include breakPointDown(small){
        text-align: center;
      }
    }
  }
}