@font-face {
  font-family: Avenir;
  src: url(/fonts/avenir_ff/AvenirLTStd-Book.otf);
}

.hero {
 background-color: $background;
 margin-top: 3rem;

  &__image {
    display: block;
    margin-left: 287px;
    position: relative;
    top: 97px;

    @include breakPointDown(large){
      position: static;
      margin: 0 auto;
      margin-top: 3rem;
      width: 100%;
      height: auto;
      max-width: 885px;
    }
  }

  &__cta{
    background-color: $purple;
    color:$white;
    font-family: 'Roboto', sans-serif;
    font-size: $fontLarge;
  }
  &__text {
    text-align: left;
    z-index: 2;
    position: relative;
    top: -467px;
    z-index: 1;

    @include breakPointDown(large){
      position: static;
    }

    h1 {
      color: $darkBlue;
      margin-bottom: 1.5rem;
      font-family: Helvetica;
      font-style: normal;
      font-weight: bold;
      font-size: $fontXxlg;
      line-height: 110%;
      width: 36rem;

      @include breakPointDown(large){
        margin-top: 1rem;
        width: 100%;
        font-size: $fontXlg;
      }

      @include breakPointDown(small){
        font-size: $fontLarge;
        text-align: center;
      }
    }

    p {
      margin-bottom: 2.25rem;
      color: $deepGray;
      width: 18rem;
      font-family: 'Avenir', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: $fontLarge;
      line-height: 160%;

      @include breakPointDown(large){
        font-size: $fontMedium;
        width: 100%
      }
  
      @include breakPointDown(small){
        font-size: $fontMedium;
        text-align: center;
      }
    }
  }
}