// //Color
$background: #E5E5E5;
$darkBlue: #212353;
$deepGray: #4B5D68;
$purple: #9C69E2;
$lightPink: rgba(240, 99, 184, 0.15);
$white: hsl(0, 0%, 100%);
// $lightBlue: #2D9CDB;
// $lightGreen: #68C9BA;

//Colors
//$darkBlue: hsl(233, 26%, 24%);
$limeGreen: hsl(136, 65%, 51%);
$brightCyan: hsl(192, 70%, 51%);
$lightGrayishBlue: hsl(220, 16%, 96%);



//Font Sizes
$fontRoot: 1rem; //16
$fontMedium: 1.125rem; //18
$fontLarge: 1.5rem; //24px
$fontXlg: 2.5rem; //40
$fontXxlg: 5rem;// 80
