// //Color
 $darkBlue: #212353;
// $deepGray: #4B5D68;
// $purple: #9C69E2;
// $lightPink: rgba(240, 99, 184, 0.15);
// $lightBlue: #2D9CDB;
// $lightGreen: #68C9BA;

//Colors
$darkBlue: hsl(233, 26%, 24%);
$limeGreen: hsl(136, 65%, 51%);
$brightCyan: hsl(192, 70%, 51%);
$grayishBlue:hsl(233, 8%, 62%);
$lightGrayishBlue: hsl(220, 16%, 96%);
$veryLightGray:hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);


//Font Sizes
$fontSmall: 0.875rem; //14
$fontMedium: 1.125rem; //18
$fontLarge: 1.25rem;
$fontXlg: 3.25rem; // 
