.features {
  margin-top: 3rem;

  &__header {
    text-align: center;
   
    p {
      margin: 0 auto;
      max-width: 37.5rem;
    }
  }

  &__cardRow {
    display: flex;
    justify-content: center;

    @include breakPointDown(medium) {
      flex-flow: column;
      align-items: center;
    }
  }

  &__cardRow2 {
    display: flex;
    justify-content: center;
    margin-top: -205px;

    @include breakPointDown(medium) {
      flex-flow: column;
      align-items: center;
    }

    @include breakPointDown(small) {
      margin-top: -255px;
    }
  }

  &__card {
    margin: 0 1rem;

    svg {
      @include breakPointDown(small) {
        width: 340px;
      }
    }
  }
  
  &__auxCard {
    position: relative;
    top: 30px;

    @include breakPointDown(medium) {
      margin-top: -230px;
    }

    @include breakPointDown(small) {
      margin-top: -300px;
    }
  }

  &__auxCard2 {
    @include breakPointDown(medium) {
      margin-top: -200px;
    }

    @include breakPointDown(small) {
      margin-top: -275px;
    }
  }


  &__cardText {
    position: relative;
    top: -303px;
    width: 14rem;
    margin-left: auto;
    margin-right: 42px;

    @include breakPointDown(small) {
      margin-right: 0;
      top: -283px;
      width: 12rem;
    }

    p {
      height: 152px;
      font-size: $fontRoot;

      @include breakPointDown(small) {
        font-size: 0.875rem;
        height: 132px;
      }
    }

    h3 {
      @include breakPointDown(small) {
        font-size: $fontRoot;
      }
    }

    a {
      @include breakPointDown(small) {
        font-size: 0.875rem;
      }
    }
  }
}